<span class="heading">
<h2>super stars</h2>
<h4 class="shifty">Bones Club</h4>
</span>
<p class="big-space">the Bones Club where the crazy nights made all Los CRYPTOS dance! 
    <br><br>
    Like all clubs, they had their drug-addicted celebrities as well as their artists, gangsters and politicians. 
    <br><br>
    
    All wealthier than each other, they were part of the high class of Los Cryptos. <br>
    They were THE VIPs, the big tables, the bottle shows and the most beautiful women... 
    <br><br>
    
    But tell you one thing, their money has not spared them. 
    <br><br>
    THEY ARE CONDEMNED TO LIVE IN LUXURY FOR ETERNITY!
    <br><br>
</p>
<div class="vip-boxes">
    <app-vip-box [image]="vip" [index]="index" *ngFor="let vip of vips; let index = index"></app-vip-box>
</div>