:host {
    min-width:30rem;
    max-width:30rem;
    max-height:30rem;
    min-height:30rem;
    display:grid;
    grid-template-areas:
    'stamp';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    img {
        cursor:pointer;
        pointer-events: all;
        min-width:10rem;
        max-width:10rem;
        max-height:10rem;
        min-height:10rem;
        grid-area:stamp;
        animation: spin 64s infinite;
        animation-timing-function: linear;
        transition:1s ease-out;
        @keyframes spin {
            50% {
                transform:rotate(360deg);
            }
        }
        &:hover {
            filter:drop-shadow(0px 0px 10px #FF00CC);
        }
        @media (max-width: 820px) {
            min-width:20rem;
            max-width:20rem;
            max-height:20rem;
            min-height:20rem;
        }
        @media (max-width: 410px) {
            min-width:30rem;
            max-width:30rem;
            max-height:30rem;
            min-height:30rem;
        }
    }
}