:host {
    display: grid;
    justify-content: start;
    align-content: start;
    pointer-events: none!important;
    * {
        pointer-events: none!important;
    }
    img {
        opacity:0;
        transition:0.4s;
        &.show {
            opacity:1;
        }
    }
}