@font-face {
    font-family: 'Autograf';
    src: url('Autograf.eot');
    src: url('Autograf.eot?#iefix') format('embedded-opentype'),
        url('Autograf.woff2') format('woff2'),
        url('Autograf.woff') format('woff'),
        url('Autograf.ttf') format('truetype'),
        url('Autograf.svg#Autograf') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bones';
    src: url('Bones.eot');
    src: url('Bones.eot?#iefix') format('embedded-opentype'),
        url('Bones.woff2') format('woff2'),
        url('Bones.woff') format('woff'),
        url('Bones.ttf') format('truetype'),
        url('Bones.svg#Bones') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dead Skull';
    src: url('DeadSkull.eot');
    src: url('DeadSkull.eot?#iefix') format('embedded-opentype'),
        url('DeadSkull.woff2') format('woff2'),
        url('DeadSkull.woff') format('woff'),
        url('DeadSkull.ttf') format('truetype'),
        url('DeadSkull.svg#DeadSkull') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeatWave';
    src: url('HeatWave.eot');
    src: url('HeatWave.eot?#iefix') format('embedded-opentype'),
        url('HeatWave.woff2') format('woff2'),
        url('HeatWave.woff') format('woff'),
        url('HeatWave.ttf') format('truetype'),
        url('HeatWave.svg#HeatWave') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ArialMT';
    src: url('ArialMT.eot');
    src: url('ArialMT.eot?#iefix') format('embedded-opentype'),
        url('ArialMT.woff2') format('woff2'),
        url('ArialMT.woff') format('woff'),
        url('ArialMT.ttf') format('truetype'),
        url('ArialMT.svg#ArialMT') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kittaro';
    src: url('Kittaro.eot');
    src: url('Kittaro.eot?#iefix') format('embedded-opentype'),
        url('Kittaro.woff2') format('woff2'),
        url('Kittaro.woff') format('woff'),
        url('Kittaro.ttf') format('truetype'),
        url('Kittaro.svg#Kittaro') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trump Gothic Pro';
    src: url('TrumpGothicPro.eot');
    src: url('TrumpGothicPro.eot?#iefix') format('embedded-opentype'),
        url('TrumpGothicPro.woff2') format('woff2'),
        url('TrumpGothicPro.woff') format('woff'),
        url('TrumpGothicPro.ttf') format('truetype'),
        url('TrumpGothicPro.svg#TrumpGothicPro') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

