:host {
    max-width:100%;
    max-height:100%;
    display:grid;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    justify-content: center;
    justify-items: center;
    row-gap:2rem;
    span.heading {
        h2 {
            transform:translateY(-25%);
        }
    }
    div.roadmap-boxes {
        justify-self:start;
        display:grid;
        grid-auto-flow: column;
        grid-auto-columns: 25vw;
        column-gap:2.5vw;
        transition:0.2s ease-out;
        transform:translateX(150vw);
    }
    span.pagination-dots {
        justify-self:center;
        display:grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        column-gap:2.5vw;
        justify-items: center;
        justify-content: center;
        i.dot {
            cursor:pointer;
            transition:0.2s ease-out;
            background:#FFF;
            border:2px solid #FFF;
            max-height:1rem;
            max-width:1rem;
            min-height:1rem;
            min-width:1rem;
            border-radius:100px;
            &:hover {
                background:#FF00CC;
                border-color: #FF00CC;
            }
            &.selectedIndex {
                background:#FFFFFF11;
            }
        }
    }
}