<h1 class="shine">the most private and crazy club<br> of the blockchain.</h1>

<p class="big-space">
    A club that made a splash in the early 80s until the early 2000s
    in Los Cryptos.
    <br><br>
    On an evening a little too watered, the club was struck by a terrible curse.
    <br><br>
    The 10,000 people present suddenly turned into skeletons condemned to immortality in the crypto sphere. 
    And today ...
    <br><br>
    Here they are back, more unique than ever. 
    The most trendy and private club of the block chain is back! 
    <br><br>
    Here, all excesses are allowed because immortality reigns.
    <br><br>
    The Bones Club was, is and will be the private and trending club on the Ethereum blockchain.
    <br><br>
    Join the club to relax with like-minded Skully Boys and projects in the metaverse.
    <br><br>
    Participate in secret meetings about the future of the world or make contacts that may change your life.
    <br><br>
    Membership in the Bones Club will give you access to exclusive benefits in the real world and in the Metaverse.
    <br><br>
    Bones Club Forever!
</p>

<app-socials [threeOnly]="true"></app-socials>