:host {
    min-width:100vw;
    max-width:100vw;
    min-height:100vh;
    max-height:100vh;
    display:grid;
    // grid-template-areas:
    // 'vid1 vid2';
    // grid-template-columns: 0.5fr 0.5fr;
    grid-template-areas: 'vid1';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow:hidden;
    position:fixed;
    pointer-events: none!important;
    * {
        pointer-events: none!important;
    }
    span {
        display:grid;
        grid-template-areas:
        'video';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        section.background {
            justify-self: center;
            align-self: center;
            min-width:100vw;
            max-width:100vw;
            min-height:100vh;
            max-height:100vh;
            grid-area:video;
            // background:url('../../assets/images/background.webp');
            background-attachment: fixed;
            background-position: center center;
            background-repeat: repeat;
            background-size: 110% auto;
            transition:1s;
            opacity:0;
            svg {
            }
            &.show {
                opacity:1;
            }
            img {
                min-width:200vw;
                justify-self: center;
            }
            display:grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            justify-content: center;
            align-content: center;
        }
        video, div.background {
            grid-area:video;
        }
        div.background {
            mix-blend-mode: color;
            z-index:99;
            transition-delay: 4s;
            transition:4s;
            background:#000;
            &.pink {
                background:#FF00CC;
            }
        }
    }
    video {
        grid-area:video;
        min-width:100vw;
        max-width:100vh;
        min-height:100vh;
        max-height:100vh;
        object-fit: cover;
        opacity:0.5;
    }
}