:host {
    justify-self: center;
    align-self: start;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    min-width:100vw;
    max-width:100vw;
    min-height:100vh;
    max-height:100vh;
    display:grid;
    // grid-template-areas:
    // 'vid1 vid2';
    // grid-template-columns: 0.5fr 0.5fr;
    grid-template-areas: 'vid1';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow:hidden;
    position:fixed;
    pointer-events: none!important;
    * {
        pointer-events: none!important;
    }
    span {
        transform:translate3d(0,0,0);
        webkit-backface-visibility: visible;
        backface-visibility: visible;
        display:grid;
        grid-template-areas:
        'video';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        z-index:1;
        section.background {
            transform:translate3d(0,0,0);
            webkit-backface-visibility: visible;
            backface-visibility: visible;
            z-index:5;
            justify-self: center;
            align-self: center;
            min-width:100vw;
            max-width:100vw;
            min-height:100vh;
            max-height:100vh;
            grid-area:video;
            // background:url('assets/images/background.webp');
            background-attachment: fixed;
            background-position: 50% 50%;
            background-repeat: repeat;
            background-size: 110% auto;
            transition:1s;
            opacity:0;
            mix-blend-mode: exclusion;
            background-blend-mode: exclusion;
            img {
                animation:16s shiney infinite;
                @keyframes shiney {
                    50% {
                        -webkit-filter:brightness(1);
                        filter:brightness(1);
                    }
                    75% {
                        -webkit-filter:brightness(1.25);
                        filter:brightness(1.25);
                    }
                }
            }
            &.show {
                opacity:1;
            }
            display:grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            justify-content: center;
            align-content: center;
            justify-items: center;
            align-items: center;
        }
    }
    video {
        z-index:3;
        grid-area:video;
        min-width:100vw;
        max-width:100vh;
        min-height:100vh;
        max-height:100vh;
        object-fit: cover;
        opacity:0.5;
        background-attachment: fixed;
        background-position: center center;
        background-repeat: repeat;
        background-size: 110% auto;
        filter: hue-rotate(
            99deg) brightness(1) saturate(6.5);
        -webkit-filter: hue-rotate(
            99deg) brightness(1) saturate(6.5);
        //     animation:6s light-up infinite;
        //     @keyframes light-up {
        //         75% {
        //             filter: hue-rotate(
        //                 99deg) brightness(1) saturate(6.5);
        //             -webkit-filter: hue-rotate(
        //                 99deg) brightness(1) saturate(6.5);
        //         }
        //         90% {
        //             filter: hue-rotate(
        //                 99deg) brightness(3) saturate(6.5);
        //             -webkit-filter: hue-rotate(
        //                 99deg) brightness(3) saturate(6.5);
        //         }
        //     }
    }
    .IIV::-webkit-media-controls-play-button,
    .IIV::-webkit-media-controls-start-playback-button {
     opacity: 0;
     pointer-events: none;
     width: 5px;
 }
}