:host {
    display: grid;
    justify-content: start;
    align-content: start;
    pointer-events: none!important;
    * {
        pointer-events: none!important;
    }
    img {
        transition:0.4s;
        transform: translate(153px,-429px);
        animation: hue 2s infinite;
        @keyframes hue {
            25% {
                filter:brightness(1.4) hue-rotate(0deg);
            }
            50% {
                filter:brightness(1) hue-rotate(360deg);
            }
            75% {
                filter:brightness(0.5) hue-rotate(-480deg);
            }
        }
        opacity:0;
        &.show {
            opacity:1;
        }
    }
}