:host {
    min-width:4rem;
    max-width:4rem;
    max-height:4rem;
    min-height:4rem;
    display:grid;
    grid-template-areas:
    'corner';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    svg {
        min-width:4rem;
        max-width:4rem;
        max-height:4rem;
        min-height:4rem;
        grid-area:corner;
    }
}