<section class="background">
    <app-skelly-boy></app-skelly-boy>
    <app-skelly-necklace></app-skelly-necklace>
</section>
<section class="welcome">
    <app-logo></app-logo>
    <span class="tag-line">
        <h5>Let's taste<br> <span [class]="classes | async">{{keyword}}</span> with them</h5>
    </span>
    <app-timer [currentTime]="currentTime" *ngIf="(((startTime | async) * 1000) - currentTime) > 1"></app-timer>
    <app-mint-button *ngIf="(((startTime | async) * 1000) - currentTime) <= 0"></app-mint-button>
</section>